{% extends "layout.html" %}
{% block title %}{{blog_entry.title}}{% endblock %}
{% block content %}
    <div class="card m-3 p-3">
        <div class="card-header">
            {{blog_entry.title}}
        </div>
        <div class="card-body">
            <p class="card-text">{{blog_entry.content}}</p>
        </div>
        <div class="card-footer text-muted small-text">{{blog_entry.created}}</div>
    </div>
    <hr class="my-4">
    {% if user.key.id() != blog_entry.user_id %}
        <div class="m-3 p-3">
            <a href="/blog/like/{{blog_entry.key.id()}}">like</a>({{blog_entry.likes}})&nbsp;&nbsp;<a href="/blog/unlike/{{blog_entry.key.id()}}">unlike</a>
        </div>
        <hr class="my-3 p-3">
        <div class="form-group">
            <form action="/blog/comment" method="POST">
                <textarea class="form-control" name="comment" rows="3"></textarea>
                <input type="hidden" name="blog_id" value="{{blog_entry.key.id()}}">
                <input type="hidden" name="user_id" value="{{user.key.id()}}">
                <input type="Submit" class="btn btn-primary m-3 p-3" value="Submit">
            </form>
        </div>
    {% endif %}
    {% for comment in comments %}
        {% if user.key.id() == comment.user_id %}
            <div class="form-group">
                <form action="/blog/comment/edit" method="POST">
                    <textarea class="form-control" name="comment" rows="3">{{comment.comment_text}}</textarea>
                    <input type="hidden" name="comment_id" value="{{comment.key.id()}}">
                    <input type="hidden" name="blog_id" value="{{comment.blog_id}}">
                    <input type="hidden" name="user_id" value="{{comment.user_id}}">
                    <input type="Submit" class="btn btn-primary m-3 p-3" value="Submit">
                </form>
            </div>
        {% else %}
            <div class="comment card">
                <h4 class="comment_user card-title">{{comment.username}}</h4>
                <h6 class="comment_date card-subtitle mb-2 text-muted">{{comment.created}}</h6>
                <p class="comment_text card-text">{{comment.comment_text}}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
