{% extends "layout.html" %}
{% block title %} | Login {% endblock %}
{% block content %}
    <style type="text/css">
        body {width: 50%; margin: auto;}
    </style>
    <div class="card m-3 p-3">
        <div class="card-head">Login</div>
        <div class="card-body">
            <form class="form-group {% if form_validated %}was-validated{% endif %}" action="/login" method="POST">
                <label for="username">Username</label>
                <input class="form-control" id="username" name="username" type="text" value="{{username}}" ><br/>
                {% if not valid_username %}<span class="invalid-feedback">That's not a valid username</span><br/>{% endif %}
                {% if user_not_found %}<span class="invalid-feedback">User Not Found.  Please try again</span><br/>{% endif %}
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" value="" ><br/>
                {% if not valid_password %}<span class="invalid-feedback">That wasn't a valid password</span><br/>{% endif %}
                {% if invalid_credentials %}<span class="invalid-feedback">You have entered invalid Username and Password.  Please check and try once again.</span><br/>{% endif %}
                <input class="form-control btn btn-primary" type="submit" name="Submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}
