{% extends "layout.html" %}
{% block title %} | Sign Up {% endblock %}
{% block content %}
    <div class="card m-3 p-3">
        <div class="card-header">
            Signup
        </div>
        <div class="card-body">
            <form class="form-group" action="/signup" method="POST">
                <label for="username">Username</label>
                <input class="form-control" id="username" name="username" type="text" value="{{username}}" >{% if not valid_username %}<span>That's not a valid username</span>{% endif %}<br/>
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" value="" >{% if not valid_password %}<span>That wasn't a valid password</span>{% endif %}<br/>
                <label for="verify">Verify Password</label>
                <input class="form-control" id="verify" name="verify" type="password" value="" >{% if not matching_passwords %}<span>Your passwords didn't match</span>{% endif %}<br/>
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" type="text" value="{{email}}" >{% if not valid_email %}<span>That's not a valid email</span>{% endif %}<br/>
                <input class="form-control btn btn-primary" type="submit" name="Submit" value="Submit">
            </form>
    </div>
{% endblock %}
