<html>
    <head>
        <title>Signup</title>
        <style>
            span {color:red;}
        </style>
    </head>
    <body>
        <h2>Signup</h2>
        <form action="/signup" method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" value="{{username}}" >{% if not valid_username %}<span>That's not a valid username</span>{% endif %}<br/>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" value="" >{% if not valid_password %}<span>That wasn't a valid password</span>{% endif %}<br/>
            <label for="verify">Verify Password</label>
            <input id="verify" name="verify" type="password" value="" >{% if not matching_passwords %}<span>Your passwords didn't match</span>{% endif %}<br/>
            <label for="email">Email</label>
            <input id="email" name="email" type="text" value="{{email}}" >{% if not valid_email %}<span>That's not a valid email</span>{% endif %}<br/>
            <input type="submit" name="Submit" value="Submit">
        </form>
    </body>
</html>
